<template>
	<div class="m-auto">
		<h1 class="text-3xl text-center my-4">Employee {{ employeesCount }}</h1>
		<ul class="border rounded p-2">
			<li
				class="flex justify-between"
				v-for="(employee, index) in employees"
				:key="employee.name"
			>
				<div>
					{{ employee.name }}
				</div>
				<button v-on:click="remove(index)">x</button>
			</li>
		</ul>
		<form class="mt-10" @submit.prevent="addEmployee">
			<input
				class="border rounded px-2"
				v-model="newEmployee"
				placeholder="Type Employee Name Here"
				ref="newEmployeeRef"
			/>
			<button
				class="border rounded bg-gradient-to-r from-red-700 to-pink-500 text-white ml-2 px-2"
				type="submit"
			>
				Add Employee
			</button>
		</form>
	</div>
</template>

<script>
import { computed, onMounted, ref } from 'vue';
export default {
	setup() {
		const newEmployeeRef = ref('');
		const newEmployee = ref('');
		const employees = ref([
			{ name: 'Erik' },
			{ name: 'Robert' },
			{ name: 'Adam' },
			{ name: 'Sandra' },
			{ name: 'My' },
		]);
		onMounted(() => {
			newEmployeeRef.value.focus();
		});
		const employeesCount = computed({
			get: () => employees.value.length,
		});
		function remove(index) {
			employees.value = employees.value.filter((employee, i) => i != index);
		}
		function addEmployee() {
			if (newEmployee.value !== '') {
				employees.value.unshift({ name: newEmployee.value });
				newEmployee.value = '';
			}
		}
		return {
			employees,
			newEmployee,
			remove,
			addEmployee,
			newEmployeeRef,
			employeesCount,
		};
	},
};
</script>

<style></style>
