<template>
	<div class="flex flex-wrap w-full">
		<h1 class="w-full text-center text-3xl m-3">Markdown App</h1>
		<section class="flex m-auto w-10/12 h-screen">
			<article class="w-1/2 border">
				<textarea
					class="w-full h-full"
					v-bind:value="text"
					v-on:input="update"
					ref="textArea"
				></textarea>
			</article>
			<article class="w-1/2 border bg-gray-100" v-html="markedText"></article>
		</section>
	</div>
</template>

<script>
import marked from 'marked';
import debounce from '../utilities/mixins/debounce';

export default {
	// beforeCreate() {
	// 	console.log('before create');
	// },
	// created() {
	// 	console.log('created');
	// },
	// beforeMount() {
	// 	console.log('before mount');
	// },
	// mounted() {
	// 	console.log('mounted');
	// },
	// beforeUnmount() {
	// 	console.log('before unmount');
	// },
	// unmounted() {
	// 	console.log('unmounted');
	// },
	beforeUpdate() {
		console.log('before update');
	},
	updated() {
		console.log('updated');
	},

	mixins: [debounce],
	data() {
		return {
			text: '',
		};
	},
	computed: {
		markedText() {
			return marked(this.text);
		},
	},
	methods: {
		update(e) {
			const task = () => (this.text = e.target.value);
			this.debounce(task, 500);
		},
	},
	mounted() {
		this.$refs.textArea.focus();
	},
};
</script>

<style></style>
