<template>
	<div class="flex flex-wrap w-full relative">
		<div
			class="absolute w-full "
			v-for="(color, index) in sliders"
			v-bind:key="color"
		>
			<transition name="fade">
				<div
					v-if="currentSlide == index"
					v-bind:class="color"
					style="height:350px"
				></div>
			</transition>
		</div>
		<div class="w-full" style="height:340px">
			<div class="absolute bottom-0 w-full flex justify-center">
				<div
					v-for="(slide, index) in sliders"
					v-bind:key="slide"
					@click="makeActive(index)"
					v-bind:class="currentSlide == index ? 'bg-gray-700' : 'bg-gray-300'"
					class="mx-2 w-4 h-4 rounded-full bg-black cursor-pointer"
				></div>
			</div>
		</div>
		<!-- <div class="my-100 flex w-full">
			<div class="m-auto">
				<transition name="fade">
					<h1 v-if="isTitleShowing">Slider Carousel</h1>
				</transition>
				<button
					@click="isTitleShowing = !isTitleShowing"
					class="px-2 rounded border"
				>
					Toggle Text
				</button>
			</div>
		</div> -->
	</div>
</template>

<script>
export default {
	data() {
		return {
			currentSlide: 0,
			interval: '',
			sliders: ['bg-blue-600', 'bg-yellow-600', 'bg-green-600'],
			isTitleShowing: true,
		};
	},
	methods: {
		makeActive(index) {
			this.currentSlide = index;
		},
	},
	// mounted() {
	// 	this.interval = setInterval(() => {
	// 		this.currentSlide == 2 ? (this.currentSlide = 0) : this.currentSlide++;
	// 	}, 1000);
	// },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
	transition: all 1s ease;
}

.fade-enter-from {
	transform: translateX(-100%);
	opacity: 0;
}
.fade-leave-to {
	transform: translateX(100%);
	opacity: 0;
}
</style>
