<template>
  <nav
    class="w-full bg-gradient-to-r from-blue-900 to-blue-50 text-white px-4 py-2"
  >
    <router-link
      v-for="item in list"
      :key="item.to"
      :to="item.to"
      class="mx-2"
      >{{ item.title }}</router-link
    >

    <button v-if="isLoggedIn" class="mx-2" @click="logout">Logout</button>
    <button v-else class="mx-2" @click="$emit('open-login-modal')">
      <!-- emit type for template is kebab-case -->
      Login
    </button>
  </nav>
</template>

<script>
import firebase from "../utilities/firebase";

export default {
  props: { isLoggedIn: { type: Boolean, required: true } },
  emits: ["open-login-modal"],
  data() {
    return {
      list: [
        { title: "Home", to: "/" },
        { title: "Employee", to: "/employees" },
        { title: "Calendar", to: "/calendar" },
        { title: "Markdown", to: "/markdown" },
        { title: "Slider", to: "/slider" },
      ],
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          console.log("Logged out");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
