<template>
  <section
    @click="close"
    class="fixed h-screen w-screen opacity-50 bg-gray-500 top-0 z-10"
  ></section>
  <div class="absolute inset-0">
    <div class="flex h-full">
      <div class="m-auto bg-white p-2 rounded shadow z-20 w-1/5">
        <div class="m-2">
          <h1 class="text-xl text-center">Login</h1>
          <GoogleLogin @close-login-from-google="close" />
          <div class="p-2">
            <p class="my-2 text-center">Or</p>
            <form @submit.prevent="submit">
              <div class="m-2">
                <label>Email</label>
                <input
                  ref="emailRef"
                  v-model="email"
                  class="border rounded shadow p-2 w-full my-2"
                  placeholder="Enter your email here"
                />
              </div>
              <div class="m-2">
                <label>Password</label>
                <input
                  v-model="password"
                  class="border rounded shadow p-2 w-full my-2"
                  type="password"
                  placeholder="Enter your password here"
                />
              </div>
              <div class="w-full flex justify-center">
                <button
                  class="rounded shadow-md border my-2 w-1/3 h-10 bg-gray-100"
                  type="submit"
                >
                  <span v-if="!isLoading">Login</span>
                  <span v-else>Is Loading...</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../utilities/firebase";
import GoogleLogin from "./Login/GoogleLogin";

export default {
  components: { GoogleLogin },
  // emit style for template is kebab-case and camel-case for script
  emits: ["closeLoginModal", "close-login-modal"],
  data() {
    return {
      email: "",
      password: "",
      isLoading: false,
    };
  },
  mounted() {
    this.$refs.emailRef.focus();
  },
  methods: {
    submit() {
      this.isLoading = true;
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.email = "";
          this.password = "";
          this.isLoading = false;
          this.close();
        })
        .catch((error) => {
          this.email = "";
          this.password = "";
          console.log(error);
          this.isLoading = false;
        });
    },
    close() {
      this.$emit("close-login-modal");
    },
  },
};
</script>

<style></style>
