<template>
  <AppHeader
    :is-logged-in="isLoggedIn"
    @open-login-modal="isLoginOpen = true"
  />
  <div class="w-full flex">
    <router-view></router-view>
  </div>
  <teleport to="body">
    <LoginModal v-if="isLoginOpen" @close-login-modal="isLoginOpen = false" />
  </teleport>
</template>

<script>
import firebase from "./utilities/firebase";
import AppHeader from "./components/AppHeader";
import LoginModal from "./components/LoginModal";

export default {
  data() {
    return { isLoginOpen: false, isLoggedIn: false, authUser: {} };
  },
  mounted() {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.isLoggedIn = true;
        this.authUser = user;
      } else {
        this.isLoggedIn = false;
        this.authUser = user;
      }
    });
  },
  components: {
    AppHeader,
    LoginModal,
  },
};
</script>

<style></style>
